<link href="css/login.css" rel="stylesheet" type="text/css" />


<img width=" 200px" src="/images/logo.png"/>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Crear una cuenta</h1>
		
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Registrar</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Logueate</h1>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Password olvidada?</a>
			<button>Entrar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Registro</h1>
				<p>Solo necesitamos unos pocos datos para darte de alta</p>
				<button class="ghost" id="signIn">Logueate</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hola !</h1>
				<p>Introduce tu informacion de usuario</p>
				<button class="ghost" id="signUp">Registrate</button>
			</div>
		</div>
	</div>
</div>

	<script src="js/app.js"></script>


